@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

body {
	/* overflow: hidden !important; */
}

.login-form {
	position: relative;
	height: 100vh;
	z-index: 0;
	background: #081b29;
	padding: 30px;
	justify-content: center;
	display: grid;
	font-family: "poppins", sans-serif;

	grid-template-rows: 1fr auto 1fr;
	align-items: center;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 3rem;
}

.login-form h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 400;
	color: #fff;
	font-family: "poppins", sans-serif;
}
.login-form h2 {
	line-height: 40px;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 500;
	color: white;
	text-align: center;
}
.login-form .main {
	position: relative;
	display: flex;
	margin: 30px 0;
}
.content {
	width: 100vw;
	flex-basis: 50%;
	padding: 3em 3em;
	background: #fff;
	background: transparent;
	box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	/* order: 2; */
}
.form-img {
	flex-basis: 50%;
	background: #dfe5ea;
	background-size: cover;
	padding: 40px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	align-items: center;
	display: grid;
}

.form-img-signup {
	flex-basis: 50%;
	/* background: transparent; */
	background-size: cover;
	padding: 40px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	align-items: center;
	display: grid;
	/* order: 1; */
}
.form-img img {
	max-width: 100%;
}
p {
	color: #666;
	font-size: 16px;
	line-height: 25px;
	opacity: 0.6;
	text-align: center;
}
.btn,
button,
input {
	border-radius: 35px;
}
.btn:hover,
button:hover {
	color: #272346;
	transition: 0.5s ease;
}
a {
	text-decoration: none;
}
.login-form form {
	margin: 30px 0;
}
.login-form input {
	outline: none;
	margin-bottom: 15px;
	font-stretch: 16px;
	color: #999;
	text-align: left;
	padding: 14px 20px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	background: #f7fafc;
	transition: 0.3s ease;
}
.login-form input:focus {
	background: transparent;
	border: 1px solid #00abf0;
}

.login-form button {
	font-size: 18px;
	color: #fff;
	width: 100%;
	background: #00abf0;
	border: none;
	padding: 14px 15px;
	font-weight: 600;
	transition: 0.3s ease;
}
p.account a {
	color: #00abf0;
}
p.account a:hover {
	text-decoration: underline;
}

.error {
	color: red;
	border: none;
	background: rgb(197, 162, 162);
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 5px;
}

@media (max-width: 736px) {
	.login-form {
		/* overflow: hidden; */
		/* min-height: 0; */
	}

	.login-form .main {
		flex-direction: column;
	}
	.login-form form {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.form-img {
		border-radius: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		order: 2;
	}
	.content {
		order: 1;
		border-radius: 0;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.form-img-signup {
		order: 2;
	}

	.container {
		max-width: 800px;
		margin: 0 auto;
		padding-top: 0;
	}
}

/* For tablet screens (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.login-form .main {
		flex-direction: column;
	}
	.form-img {
		border-radius: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		order: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.form-img-signup {
		border-radius: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		order: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content {
		order: 1;
		border-radius: 0;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
}
